# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
megaphone
phonebook
account
zombie
memory
violence
sed
harl2
harlFilter
fixed
ClapTrap
ScavTrap
FragTrap
DiamondTrap
animal
interface
bureaucrat
form
forms
intern
convert
serialize
